@media (min-width: 768px) {
    .hero {
        padding: 7rem 4rem 4rem;
        align-items: center;
    }
    
    .hero-image {
        flex: 2;
    }

    .hero-image img {
        max-width: 380px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content {
        flex: 1;
        text-align: left;
        max-width: 50%;
    }    
}


.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 1.5rem 3rem;
    gap: 1.5rem;

    background-color: #fff6ee;
    color: #2b2b2b;
}

.hero-image {
    flex: 1.2;
    display: flex;
    justify-content: center;
}

.hero-image img{
    width: 100%;
    max-width: 220px;
}

.hero-content {
    flex: 1;
    text-align: left;
    
}

.hero-content h1 {
    font-size: 1.75rem;
    line-height: 1.2;
}

.hero-content p{
    margin-top: 0.75rem;
    max-width: 90%;
}


.btn-primary {
    display: inline-block;
    margin-top: 1.25rem; 
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    background-color: #b75a46;
    color: #ffffff;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #9e4a39;
    transform: translateY(-2px);
}